{% extends 'patient.html'%}
{% load static %}
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

     <title>Health - Medical Website Template</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <script type="text/javascript">
          $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
    
    $('#appointment_date').attr('min', maxDate);
});
     </script>
     
<!--

Template 2098 Health

http://www.tooplate.com/view/2098-health

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Tooplate">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/animate.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
</head>
<body>
     <center>
           {% if msg %}
          <b style="color: red">{{msg}}</b>
          {% endif %}
     </center>
    

	  <section id="appointment" data-stellar-background-ratio="3">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <img src="{% static 'images/appointment-image.jpg'%}" class="img-responsive" alt="">
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- CONTACT FORM HERE -->
                         <form id="appointment-form" role="form" method="post" action="{% url 'pay' %}">
                              {% csrf_token %}
                              <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                              <h2>Make an appointment</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <div class="col-md-6 col-sm-6">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
                                   </div>
                                   <div class="col-md-6 col-sm-6">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                                   </div>
                                   <div class="col-md-6 col-sm-6">
                                        <label for="select">Select Department</label>
                                        <select class="form-control" name="Department">
                                             <option>General Health</option>
                                             <option>Cardiology</option>
                                             <option>Dental</option>
                                             <option>Medical Research</option>
                                        </select>
                                   </div>
                                   
                                        <div class="col-md-6 col-sm-6">
                                        <label for="select">Select Doctor</label>
                                        <select class="form-control" name="dname">
                                             {% for i in doctor %}
                                             <option>{{i.fname}}</option>
                                             {% endfor %}
                                        </select>
                                   
                                   </div>
                                   <div class="col-md-6 col-sm-6">
                                        <label for="date">Select Date</label>
                                        <input type="date" name="date" value="" class="form-control " id="appointment_date">
                                   </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label for="select">Select Timeslot</label>
                                        <select class="form-control" name='time'>
                                             <option>9:30 to 10:00</option>
                                             <option>10:30 to 11:00</option>
                                             <option>11:30 to 12:00</option>
                                             <option>1:30 to 2:00</option>
                                             <option>2:30 to 3:00</option>
                                             <option>3:30 to 4:00</option>
                                             
                                        </select>
                                   </div>
                                   <div class="col-md-6 col-sm-6">
                                        <label for="fees">Fees</label>
                                        <input type="text" class="form-control" id="fees" name="fees" placeholder="Fees">
                                   </div>

                                   <div class="col-md-12 col-sm-12">
                                        <label for="Message">Additional Message</label>
                                        <textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>
                                        <button type="submit" class="form-control" id="cf-submit" name="submit">Submit Button</button>
                                   </div>
                              </div>
                        </form>
                    </div>

               </div>
          </div>
     </section>

      <script src="{% static 'js/jquery.js'%}"></script>
     <script src="{% static 'js/bootstrap.min.js'%}"></script>
     <script src="{% static 'js/jquery.sticky.js'%}"></script>
     <script src="{% static 'js/jquery.stellar.min.js'%}"></script>
     <script src="{% static 'js/wow.min.js'%}"></script>
     <script src="{% static 'js/smoothscroll.js'%}"></script>
     <script src="{% static 'js/owl.carousel.min.js'%}"></script>
     <script src="{% static 'js/custom.js'%}"></script>

</body>
</html>
{% endblock%}