<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
      tr,td{
        padding: 7px
      }
      .button {
  background-color:#77ab59; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
    </style>
</head>
<body>
	<center>
		<h1>Forgot Password</h1>
		{% if msg %}
			<b style="color: red">{{msg}}</b>
		{% endif %}
		<form name="forgot_password" method="post" action="{% url 'forgot_password' %}">
			{% csrf_token %}
			<table>
				<tr>
					<td>Email</td>
					<td><input type="text" name="email"></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" value="Send OTP" class="button">
					</td>
				</tr>
			</table>
			
		</form>
		
	</center>

</body>
</html>