<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
      .bg{
        color:#5cb85c
    	background-color: #292b2c
      }
}
    </style>
</head>

<body >
	<nav class="navbar navbar-inverse bg-light">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{% url 'view_prescription'%}">View Prescription</a></li>
      <li><a href="{% url 'view_appointment' %}">View appointment</a></li>
      <li><a href="{% url 'book_appointment'%}">Make an appointment</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar bg-light">
      <li><a href="{% url 'logout_patient'%}"><span class="glyphicon glyphicon-log-out"></span> logout {{request.session.fname}} {{request.session.lname}}</a></li>
    </ul>
  </div>
</nav>

</body>
</html>
{% block content %}
{% endblock %}