{% load static %}
<!DOCTYPE html>
<html>
<head>
	<script src="{% static 'js/myjs.js' %}">	 
	</script>
	<style type="text/css">
      tr,td{
        padding: 7px
      }
      .button {
  background-color:#77ab59; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
    </style>
</head>
<body>
	<center>
		<h1>Doctor Signup</h1>
		{% if msg %}
			<b style="color: red">{{msg}}</b>
		{% endif %}
		<form name="signup" method="post" action="{% url 'signup_doctor' %}" enctype="multipart/form-data">
			{% csrf_token %}
			<table>
				<tr>
					<td>First Name</td>
					<td><input type="text" name="fname" onblur="checkfname();" ></td>
					<td><span id="fname"></span></td>
					
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" name="lname" onblur="checklname();"></td>
					<td><span id="lname"></span></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="text" name="email" onblur="checkemail();" id="id_username" ></td>
					<td><span id="email"></span></td>
				</tr>
				<tr>
					<td>Mobile</td>
					<td><input type="text" name="mobile" onblur="checkmobile();"></td>
					<td><span id="mobile"></span></td>
				</td>
				<tr>
					<td>Degree</td>
					<td><select name="degree">
					<option>---Select---</option>
					<option>MBBS</option>
					<option>MD</option>
					<option>MS</option>
					<option>DM</option></select></td>
				</tr>
				<tr>
					<td>Specialization</td>
					<td><select name="specialization">
					<option>---Select---</option>
					<option>Cardiology (Heart Care)</option>
					<option>Neurology.</option>
					<option>Emergency Medicine Specialists</option>
					<option>Gastroenterologists</option>
					<option>Internal Medicine</option></select>
					</td>
				</tr>
				<tr>
					<td>Birthday</td>
					<td><input type="date" id="birthday" name="birthday"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" onblur="checkpass();"></td>
					<td><span id="password"></span></td>
				</tr>
				<tr>
					<td>Confirm Password</td>
					<td><input type="password" name="cpassword"></td>
				</tr>
				
				<tr>
					<td>Consultation Fees</td>
					<td><input type="text" name="consult_fees"></td>
				</tr>
				<tr>
					<td>Profile Image</td>
					<td><input type="file" name="profile_img"></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="submit" id="btn"value="Sign Up" class="button"></td>
				</tr>
			</table>
			
		</form>
		
	</center>

</body>
</html>